<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/gs1672/IdeaProjects/selenium-java-TestNG">
        <classes>

            <class name="pages.TestNGDemo_GoogleSearch"/>


        </classes>
    </test>
</suite>